<div>
	<div>
		{#each posts as thought}
			<span>{thought}</span>
		{/each}
	</div>

	<input type='text' on:keydown={post}>
</div>

<script>
	let posts = []
	function post(e) {
		if (e.key == "Enter") {
			posts = [...posts, e.target.value];
			e.target.value = ""
		}
	}
</script>

<style>
div {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
input {
	position: sticky;
	bottom: 0;

	font-size: 15pt;
	font-family: 'lato';

	width: 100%;
	padding: 10px 15px;

	border-radius: 20px;
	border: 1px solid rgba(20,20,20,0.7);

}
input:focus {
	outline: none;
}
</style>