<script>
    import axios from 'axios';
    let get_query_params = () => {
		const params = {};
		window.location.href.replace(
			/([^(?|#)=&]+)(=([^&]*))?/g,
			(_, $1, __, $3) => { params[$1] = $3 }
		);
		return params;
    };
    let {code} = get_query_params();

    axios.post(`http://localhost:4000/code`, {code})
        .then(res => console.log(res));

    let validate_token = () => axios.get(
        `https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=${access_token}`
    ).then(res => ({

    }))

    let subs = [{a:"s"}];
    // let api_key = `AIzaSyAd3jvDUGy8vRoyCDLJem6D8Yfap20iGts`;
    console.log(code)

    // get_list().then(list => {subs = list; console.log(subs)});

    // function get_list() {
    //     return axios.get(
    //         `https://www.googleapis.com/youtube/v3/subscriptions?part=snippet&mine=true&maxResults=50`,
    //         { headers: {'Authorization': `Bearer ${access_token}`} }
    //     ).then(res => res.data);
    // }

</script>

<!-- <button on:click={get_list}>
    Get subscription list with access token: {access_token}
</button>

<button on:click={validate_token}>
    Validate token
</button> -->