<script>
	import axios from 'axios';

	const client_id = "950978149444-57a724oo68ipf1bsionnuvhid3e6p31r.apps.googleusercontent.com";
	const redirect_uri = "http://localhost:3000/auth";
	const scope = "openid profile https://www.googleapis.com/auth/youtube.readonly";
	const response_type = "code";
	const access_type = "offline";

	const oauth_url = `https://accounts.google.com/o/oauth2/v2/auth?` +
        `client_id=${client_id}&` +
        `redirect_uri=${redirect_uri}&` +
        `response_type=${response_type}&` +
        `scope=${scope}&` +
        `access_type=${access_type}`;
	
</script>

<svelte:head>
	<title>TubePals</title>
</svelte:head>

<div>
	<h2>TubePals</h2>
	<a href={oauth_url}>
		<img src='/g-logo.png'/>
		Sign in with Google
	</a>
</div>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		min-width: 100vw;
	}
	a {
		background-color: white;
		font-family: "Roboto";

		display: flex;
		align-items: center;

		padding: 1rem;
		border-radius: 4px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	}
	img {
		width: 2rem;
		margin-right: 24px;
	}
	h2 {
		color: white;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 2rem;
	}
</style>