<script>
    import DataSource from '../components/datasource.svelte'
</script>
<style>
    button {
        display: block;
    }
    div.column {
        max-width: 900px;
        margin: auto;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        padding: 1rem;

        background-color: grey;
    }

</style>

<div class='column'>
    <div class='grid'>
        <DataSource 
            title='Youtube (subscriptions)'
            description='Compares subscribed channels on Youtube'
        />
        <DataSource 
            title='Twitter (following)'
            description='Compares followed users on Twitter'
        />
    </div>
</div>