<script>
    export let title;
    export let description;
</script>
<style>
    div {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        background-color: rgb(209, 209, 209);
        padding: 1rem;
    }
    button {
        display: block;
        width: 100%;
        padding: 5px;
    }
</style>

<div>
    <h3>
        {title}
    </h3>

    {description}

    <button>
        Use
    </button>
</div>