@import url('https://fonts.googleapis.com/css?family=Roboto:500|Nunito');

h1,h2,h3,h4,h5,h6 {
	font-family: "nunito";
}
#sapper {
	min-width: 100vw;
	min-height: 100vh;
}
body {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	font-family: 'lato';
	background-color: rgb(75, 75,75);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	text-decoration: none;
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}